* {
     padding: 0;
     margin: 0;
     box-sizing: border-box;
     font-family: 'gilroy';
}

html, body {
     height: 100%;
     width: 100%;
}

.main{
    height: 100%;
    width: 100%;
    background-color: black;
    display: flex;align-items: center;justify-content: center;
}
.main h1{
     font-size: 10vw;
     text-transform: uppercase;
     color: #dadada6e;
     
}
span{
     display: inline-block;
     /* opacity: 0; */
}